<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1 </title>
    <link rel="stylesheet" href="/static/css/styleEj1.css">
</head>
<body>  
    <!-- CONTENEDOR principal para centrar el contenido -->
    <div class="container">
        <!-- TÍTULO visible del ejercicio -->
        <h1>Calculo de compras</h1>
        <form method="POST" class="form-box" >
            <!-- Cada campo está en un form-group para estilos -->
             <!--El formulario se debe completar con un nombre, una edad y una cantidad de tarros de pinturas a comprar. -->
            <div class="form-group"> 
                <label for="nombre">Ingresa tu Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>      
            </div>
            <div class="form-group">
                <label for="edad">Ingresa tu Edad:</label>
                <input type="number" id="edad" name="edad" min="0" required>
            </div>
            <div class="form-group">    
                <label for="cantidad_tarro">Ingresa la cantidad de tarros de pintura a comprar:</label>
                <input type="number" id="cantidad_tarro" name="cantidad_tarro" min="1" required>
            </div>
                <!-- BOTÓN de envío -->
            <button type="submit" class="btn btn-primary">Calcular</button>
                <!-- BOTÓN para volver a la página principal -->
              <a href="/" class="btn btn-secondary">Volver</a>
           

             {% if resultado %}
                <div class="resultado">
                    <p>Nombre del cliente: {{ resultado.nombre }}</p>
                    <p>Total sin descuento: ${{ resultado.total_sin_descuento }}</p>
                    <p>El descuento es: ${{ resultado.precio_con_descuento }}</p>
                    <p>El total a pagar es de: ${{ resultado.total_a_pagar }}</p>
                </div>
             {% endif %}

        </form>
    </div>
</body>
</html>